<div id="inner-stage">
    <h1>Donkey Kong Country</h1>
    {{{viewport}}}
    <div id="videos"></div>
    <div id="sounds"></div>
    <div id="loader"><span>Carregando...</span></div>
    <p class="jside-scrolling-link">Powered by &nbsp;&nbsp;
        <a href="https://github.com/madureira/jside-scrolling" target="_blank">jside-scrolling</a>
    </p>
</div>
