<div id="inner-stage">
    <h1>Donkey Kong Country</h1>
    {{{viewport}}}
    <p>Powered by &nbsp;&nbsp;<a href="https://github.com/madureira/jside-scrolling" target="_blank">jside-scrolling</a></p>
</div>
