<!--video id="video-{{id}}" width="{{width}}" height="{{height}}" class="hide" preload="none"-->
<video id="video-{{id}}" width="{{width}}" height="{{height}}" class="hide">
    <source src="{{videoPath}}.mp4" type="video/mp4">
</video>
