body {
    background-color: #000;
}

#inner-stage {
    margin: 0 auto;
    width: 640px;
    height: 480px;

    h1 {
        background-image: url("../images/general/dk_logo.png");
        background-repeat: no-repeat;
        background-size: 200px;
        margin: 0 auto;
        text-indent: -9999px;
        width: 200px;
        height: 104px;
    }


    h1, p {
        text-align: center;
        color: #fff;
    }

    a {
        color: green;
    }

}

#sounds {
    display: none;
}

.hide {
    display: none;
}

#loader {
    position: absolute;
    top: 370px;
    z-index: 100;
    width: 640px;
    text-align: center;
    &.on {
        color: #fff;
        display: block;
    }
}
