body {
    background-color: #000;
}

#inner-stage {
    margin: 0 auto;
    width: 640px;
    height: 480px;

    h1 {
        background-image: url("../images/general/dk_logo.png");
        background-repeat: no-repeat;
        background-size: 200px;
        margin: 0 auto;
        text-indent: -9999px;
        width: 200px;
        height: 104px;
    }


    h1, p {
        text-align: center;
        color: #fff;
    }

    a {
        color: green;
    }

}

#sounds {
    display: none;
}

.hide {
    display: none;
}

#loader {
    position: absolute;
    top: 370px;
    z-index: 100;
    width: 640px;
    text-align: center;
    color: #fff;
    &.on {
        display: block;
        -webkit-animation-name: 'pulse_animation';
        -webkit-animation-duration: 5000ms;
        -webkit-transform-origin:70% 70%;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes pulse_animation {
        0% { -webkit-transform: scale(1); }
        30% { -webkit-transform: scale(1); }
        40% { -webkit-transform: scale(1.08); }
        50% { -webkit-transform: scale(1); }
        60% { -webkit-transform: scale(1); }
        70% { -webkit-transform: scale(1.05); }
        80% { -webkit-transform: scale(1); }
        100% { -webkit-transform: scale(1); }
    }
}
